{% extends "base_page.html" %}

{% block page-title %}
Словарь
{% endblock %}
{% block page-lead %}
Здесь собраны все слова записанные ранее. <br>
Чтобы добавить новое слово, заполните <a href="/add_word">форму</a>.<br>
{% endblock %}

{% block content %}
<div class="container px-4 pt-5" id="terms-table">
    <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col" class="py-3">№</th>
              <th scope="col" class="py-3">Английское слово</th>
              <th scope="col" class="py-3">Русское слово</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% for cnt, en, ru in words %}
            <tr>
                <th scope="row" class="py-3">{{ cnt }}</th>
                <td class="py-3">{{ en }}</td>
                <td class="py-3">{{ ru }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
</div>
{% endblock %}